.score-high {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde oscuro */
  border-radius: 8px;
}

.score-medium {
  background-color: #fff3cd; /* Naranja claro */
  color: #856404; /* Naranja oscuro */
  border-radius: 8px;
}

.score-low {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24; /* Rojo oscuro */
  border-radius: 8px;
}
