@use 'src/assets/scss/vars'  as _vars;

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: _vars.$desktop;
  margin: 0 auto;
}

.custom-bg {
  background: _vars.$primary_purple;
}
