/* Typography */
$font-primary: 'Poppins', sans-serif;

/* Colors */
$primary_black: #1D1D1B;
$primary_purple: #6429CD;
$primary_white: #FFFFFF;

/* media queries */
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;
$extra-large: 1400px;
