<div class="min-h-screen flex flex-col">
  <header class="layout-header bg-primary">
    <div class="container flex items-center justify-between py-4">
      <img src="assets/images/logo-flow-match.png" alt="Logo de Flow Match" class="max-w-[120px] w-full" />
      <p-menubar [model]="items" styleClass="bg-primary text-white border-none" />
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="layout-footer bg-gray-100 text-center p-4">
    <p>© 2025 Flow Match Project. All rights reserved.</p>
  </footer>
</div>
