<div class="grid grid-cols-2 grid-rows-1 h-lvh">
  <div class="bg-primary content-center px-8">
    <h2 class="text-white text-center poppins-bold text-5xl mb-8">Contrata mejor y más eficiente con IA</h2>
    <img src="assets/images/logo-flow-match.png" alt="Logo de Flow Match" class="max-w-xs m-auto" />
  </div>
  <div class="content-center px-8">
    <div class="mb-4 p-8">
      <p-card header="Ingresar">
        <p-floatlabel class="mt-8">
          <p-inputnumber id="nit_company_lable" [(ngModel)]="nitCompany" autocomplete="off" class="w-full" />
          <label for="nit_company_lable">Nit Empresa</label>
        </p-floatlabel>

        <p-floatlabel class="my-8">
          <p-password
            [(ngModel)]="passCompany"
            inputId="pass_company"
            autocomplete="off"
            class="p-password-component"
            promptLabel="Ingrese su contraseña"
            weakLabel="Débil"
            mediumLabel="Medio"
            strongLabel="Fuerte" />
          <label for="pass_company">Contraseña</label>
        </p-floatlabel>

        <div class="card flex justify-center">
          <p-button label="Iniciar sesión" icon="pi pi-check" [loading]="loading" (onClick)="load()" />
        </div>
      </p-card>
    </div>
  </div>
</div>
