.vacancies {
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6366f1;
  }

  .vacancy-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .vacancy-card {
    //flex: 1 1 calc(33.333% - 20px); // Ajusta a 3 cards por fila
    max-width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
    }

    button {
      margin-top: 10px;
      display: block;
      width: 100%;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  button {
    width: 200px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item label {
  font-weight: bold;
  margin-bottom: 8px;
}

// .vacancies-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 16px;
// }

.vacancy-card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  //width: calc(33.333% - 16px);
  //background-color: #fff;
}

.vacancy-card h3 {
  margin-top: 0;
  color: #6366f1;
}

.vacancy-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;

  button {
    flex: 1;
    min-width: 140px;
  }
}
