<div class="layout-content grid">
  <div class="image col-12 md:col-6 p-0">
    <img src="assets/images/bg.png" alt="talent Match" class="image-bg" width="100%" />
  </div>
  <div class="container col-12 md:col-6">
    <div class="application flex flex-column align-content-center">
      <h1 class="text-center mb-7 px-8">si ya tienes creado un CV en Nuestra web?</h1>
      <div class="flex gap-2 justify-content-center">
        <input type="text" pInputText [(ngModel)]="documnet" placeholder="Digita tu wsp" />
        <p-button label="Aplicar a la oferta" />
      </div>
    </div>
    <div class="chatboot mt-8 text-center">
      <p-divider />
      <p class="px-5 my-7">Crear tu CV nunca ha sido mas facil.. ahora desde cualquier lugar con nuestro ChatBoot</p>
      <p-button label="Crear tu CV con nuestro ChatBoot" severity="success" (onClick)="goToChatboot()" />
    </div>
  </div>
</div>
