@use 'src/assets/scss/vars' as _vars;

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6366f1; // Color principal
  color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    margin: 0;
  }

  nav {
    display: flex;
    gap: 15px;

    .nav-link {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #d4d4f7;
      }
    }
  }
}

.layout-content {
  flex: 1;
  padding: 20px;
  //background-color: #f9f9f9; // Fondo claro para el contenido
}

.layout-footer {
  text-align: center;
  padding: 10px 20px;
  //background-color: #333333;
  color: #ffffff;

  p {
    margin: 0;
    font-size: 14px;
  }
}
