@use "tailwindcss";
@use "primeicons/primeicons.css";
@use './src/assets/scss/global' as global;
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@layer tailwind, primeng;
